.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60em;
  height: 20em;
  margin: 0 auto;  
}

.row {
  display: flex;
  justify-content: space-between;  
}

.key {  
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: $key-width;  
  height: $key-height;
  border: 1px solid $key-border-color;
  border-radius: 0.5em;
  background-color: $key-color;
}

.backspace {
  width: 6em; 
  background-color: $key-color-function;  
}

.backslash,
.tab {
  width: 4.5em;
  background-color: $key-color-function;  
}

.capslock {
  width: 5em;
  background-color: $key-color-function;  
}

.enter {
  width: 7em;
  background-color: $key-color-function;  
}

.shiftleft {
  width: 7em;
  background-color: $key-color-function;  
}

.shiftright {
  width: 9em;
  background-color: $key-color-function;  
}

.altleft,
.altright,
.metaleft,
.metaright,
.controlleft,
.controlright
 {
  background-color: $key-color-function;
  width: 4em;
}

.space {
  width: 28em;
  background-color: $key-color-function;  
}

.pressed {
  background-color: $key-color-pressed;
}