.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60em;
  height: 20em;
  margin: 0 auto;  
}

.row {
  display: flex;
  justify-content: space-between;  
}

.key {  
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;  
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: #818181;
}

.pressed {
  background-color: red;
}

.backspace {
  width: 6em; 
}

.tab {
  width: 4.5em;
}

.backslash {
  width: 4.5em;
}

.capslock {
  width: 5em;
}

.enter {
  width: 7em;
}

.shiftleft {
  width: 7em;
}

.shiftright {
  width: 9em;
}

.controlleft {
  width: 4em;
}

.metaleft {
  width: 4em;
}

.altleft {
  width: 4em;
}

.space {
  width: 28em;
}

.altright {
  width: 4em;
}
.metaright {
  width: 4em;
}
.controlright {
  width: 4em;
}