$key-color: #efefef;
$key-color-pressed: #818a84;
$key-color-function: #cac8c8;
$key-border-color: #000000;

$key-width: 3em;
$key-height: 3em;
$keyboard-width: $key-width * 20;
$keyboard-height: $key-height * 6;
